@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --textSize: 17px;
    --headSize: 22px;
    --iconSize: 22px;
}

body {
    background-color: rgb(238, 245, 243);
}

main.main-content {
    margin-top: 2%;
    padding: 5% 3% 0 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

section.side-bar {
    margin-top: 3%;
    width: 22%;
    max-height: 90vh;
    padding: 5% 1%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(200, 218, 222);
    font-size: var(--textSize);
    text-align: center;
    word-wrap: break-word;

    .logo-rate img {
        padding: 2%;
        max-width: 60%;
        height: auto;
        border-radius: 50%;
        outline: 3px solid rgba(200, 71, 84, 0.9);
        box-shadow: 0 0 2vh rgb(200, 71, 84);
        background-color: rgb(200, 218, 222);
    }

    .logo-rate .username {
        font-size: var(--headSize);
    }

    .logo-rate p.rating i.fa-solid {
        padding: 2% 0;
        font-size: var(--iconSize);
        color: rgb(200, 71, 84);
    }
}

section.user-details {
    padding: 0 1%;

    fieldset legend {
        padding: 5px 12px;
        text-align: center;
        color: rgb(183, 64, 76);
        font-size: var(--headSize);
        font-weight: 400;
        border: 1px solid rgba(90, 90, 90, 0.2);
        border-radius: 3vw;
        background-color: rgb(238, 245, 243);
    }

    fieldset {
        margin-top: 2%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        gap: 4%;
        justify-content: center;
        width: 100%;
        padding: 1vw 2vw 3vw 2vw;
        font-size: var(--textSize);
        font-weight: 400;
        border: none;
        border-radius: 10px;
        background-color: rgba(200, 218, 222, 0.3);
        box-shadow: 0 0 5px rgb(67, 67, 71);

        div {
            margin-top: 4%;
        }

        label,
        input {
            width: 100%;
            padding: 2% 1%;
            font-size: var(--textSize);
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        input {
            width: 100%;
            padding: 2% 3%;
            border: 0 solid rgb(200, 71, 84);
            outline: none;
            border-radius: 2vw;
            background-color: rgba(200, 218, 222, 0.5);
        }
    }
}

section.user-details div.control-op-btn {
    display: block;
    width: 100%;
    padding: 2% 0;
    text-align: center;

    button.control-btn {
        margin-left: 5%;
        padding: 1%;
        font-size: var(--textSize);
        font-weight: 500;
        float: left;
        color: rgb(183, 64, 76);
        border: 3px solid rgb(183, 64, 76);
        border-radius: 4px;
        background-color: transparent;
        transition: 250ms all ease-in-out;
    }

    button.update {
        display: none;
    }

    button.delete {
        margin-left: 0;
        margin-right: 5%;
        float: right;
    }

    button.control-btn:hover,
    button.control-btn:focus {
        border-radius: 4vh;
        box-shadow: 5px 5px 1vh rgb(67, 67, 71);
    }
}

div.confirm-del{
    display: none;
    width: 100%;
    padding: 2%;
    text-align: center;
    font-size: var(--textSize);
    font-weight: 400;
    background-color: rgba(71, 78, 80, 0.3);
    box-shadow: 0 0 1vh rgb(231, 48, 63);

    button.del-choice{
        margin: 2%;
        padding: 0.5%;
        font-size: var(--textSize);
        color: rgb(154, 39, 51);
        border-radius: 5px;
        border: 3px solid rgb(154, 39, 51);
        background-color: transparent;
        transition: 250ms all linear;
    }
    button.del-choice:hover,
    button.del-choice:focus {
        border-radius: 4vh;
        box-shadow: 5px 5px 1vh rgb(67, 67, 71);
    }
}

@media screen and (max-width: 650px) {
    :root {
        --textSize: 10px;
        --headSize: 14px;
        --iconSize: 12px;
    }

    main.main-content {
        padding: 2%;
        margin-top: 10%;
    }

    section.side-bar {
        width: 25%;
        padding: 10% 1%;

        .logo-rate img {
            padding: 2%;
            max-width: 90%;
        }
    }

    section.user-details {
        padding: 0;

        fieldset legend {
            padding: 2px 8px;
            border-radius: 3vh;
        }

        fieldset {
            margin-top: 2vh;
            gap: 3%;
            padding: 1vh 1vh 2vh 1vh;

            div {
                margin-top: 1vh;
            }

            label,
            input {
                padding: 1%;
            }

            input {
                width: 99%;
                padding: 1% 3%;
                border-radius: 2vh;
            }
        }
    }

    section.user-details div.control-op-btn {
        button.control-btn {
            margin-left: 2%;
            padding: 1%;
            border: 2px solid rgb(183, 64, 76);
            transition: 250ms all ease-in-out;
        }

        button.update {
            display: none;
        }

        button.delete {
            margin-right: 2%;
        }

        button.control-btn:hover,
        button.control-btn:focus {
            border-radius: 4vh;
            box-shadow: 2px 2px 1vw rgb(67, 67, 71);
        }
    }
}