@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  align-items: center;
  justify-content: center;
  background: white;
}

#title {
  margin-top: 6%;
  text-align: center;
  border-bottom: 4px double rgba(219, 84, 97, 0.5);
}

div.container {
  margin: 2vh 0;
  padding: 5%;
  font-size: 15px;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(219, 84, 97, 0.5);
}

h2 {
  width: 35%;
  margin: 20px 0;
  font-size: 24px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  #title {
    font-size: 17px;
    margin-top: 20%;
  }
  h2{
    width: 100%;
    font-size: 16px;
  }
}
