@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
  background: white;
}

#title {
  text-align: center;
  padding: 2vh 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.contact {
  font-size: 15px;
  margin-top: 2vh;
}

.container {
  margin-top: 20px;
  font-size: 15px;
  line-height: 22px;
  padding: 20px 30px;
  box-shadow: 0 0 5px rgba(219, 84, 97, 0.5);
  margin-bottom: 20px;
}

h2 {
  margin: 3vh 0;
  border-radius: 8px;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
